<div class="page">
  <vj-input [formControl]="formControl" class="text-field" label="Inform the Tax Id"
    hint="Essa é uma diquinha muito muito boa. não vai perder!">
    <input type="text" vjInput aria-label="input field" vjMask [uppercase]="true">
  </vj-input>
  <vj-input [formControl]="disabledFormControl" class="text-field" label="Inform the Tax Id"
    hint="This is a disabled form control field.">
    <input type="text" vjInput aria-label="input field" vjMask [uppercase]="true">
  </vj-input>
  <vj-input class="text-field" label="Inform the Tax Id" hint="This is a disabled field.">
    <input type="text" disabled vjInput aria-label="input field" vjMask [uppercase]="true">
  </vj-input>
  <vj-input class="text-field" label="Inform the Tax Id" hint="This is a simple text field.">
    <input type="text" vjInput aria-label="input field" vjMask [uppercase]="true">
  </vj-input>
  <vj-input class="text-field" label="Inform the Tax Id" hint="This is a text field with mask.">
    <input type="text" vjInput placeholder="12-AB-3456" aria-label="input field" vjMask mask="##-AA-####"
      [uppercase]="true">
  </vj-input>
  <vj-input [formControl]="formControlAutocomplete" [list]="list" class="text-field" label="Inform the Tax Id"
    hint="This is a text field with autocomplete.">
    <input type="text" vjInput aria-label="input field">
  </vj-input>
  <vj-input class="text-field" label="Choose an option" hint="This is a native select field.">
    <select>
      <option value="Test 1">Test 1</option>
      <option value="Test 2">Test 2</option>
    </select>
  </vj-input>
  <vj-input [list]="list" class="text-field" label="Inform the Tax Id" [waiving]="true"
    hint="Essa é uma diquinha muito muito boa. não vai perder!">
    <input type="text" vjInput placeholder="12-AB-3456" aria-label="input field" vjMask mask="##-AA-####"
      [uppercase]="true">
  </vj-input>
</div>
